<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>276457987323-nmktnrnhu60j1j0rv30g5khs8khisu5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276457987323-nmktnrnhu60j1j0rv30g5khs8khisu5c</string>
	<key>API_KEY</key>
	<string>AIzaSyAAGZK5QeRdcBcjr_IAF40ngiQRUcrv40Q</string>
	<key>GCM_SENDER_ID</key>
	<string>276457987323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.davealdon.BookManKind</string>
	<key>PROJECT_ID</key>
	<string>bookmankind</string>
	<key>STORAGE_BUCKET</key>
	<string>bookmankind.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276457987323:ios:81236b4b3c6f77e39c245e</string>
</dict>
</plist>